/system/
/application/config/
/application/controllers/
/application/hooks/
/application/language/
/application/core/
/application/helpers/
/application/errors/
/application/cache/
/application/third_party/
/application/views/
/application/logs/
/application/models/
/application/.htaccess
/application/index.html